body {
    background-color: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .portfolio-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .hero {
        height: 400px;
    }
}

@media screen and (max-width: 480px) {
    .portfolio-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    .hero {
        height: 300px;
    }
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('Fonts/TrashHand.TTF') format('truetype'); /* Adjust the path as needed */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyCustomFont', sans-serif;
}


